<div class="wrapper">
    <div  class="body"> 
       <div class="mb-5" style="color: white;"><h1>Welcome To Wires</h1>  </div>  
        <div class="d-grid gap-2 mb-4">
            <button  class="btn blanco rounded-pill border border-1 botonhover1 " type="button">Sing up</button>
            
         </div>

         <div class="mb-3">
            <label for="exampleFormControlInput1"style="color: rgb(185, 185, 44);" class="form-label">Email address</label>
            <input type="email" class="form-control custom-form-control rounded-pill" id="exampleFormControlInput1" placeholder="name@example.com">
            <span class="badge text-danger">Required</span>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" style="color: rgb(185, 185, 44);" class="form-label">Password</label>
            <input type="password" class="form-control custom-form-control rounded-pill" id="exampleFormControlInput2" placeholder="********">
          </div>
    
        
    
        <div class="d-grid gap-2 ">
            <button  class="mt-3 btn btn-light rounded-pill border border-1 fondoblanco border-white active" (click)="ingresar()"     type="button">Sing in</button>
            
          </div> 

          <div class="form-check mt-3 mb-5">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Remember Me
            </label>
          </div>
          

    </div>

    <div class="footer mt-5">
        <p class="mb-0" style="color: ghostwhite;">Copyright © 2023 Llega.es</p>
        <p class="mt-0" style="color: rgb(212, 224, 103);">Designed with ♥ by Pepe </p>
    </div>

    


    
    
</div>









